<div class="hero-unit">
	<h1>Welcome to my Ruby app!</h1>

	<p>We're building a pinterest-like application.</p>

	<p><%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large sign_up" %></p>
</div>
